@tailwind base;
@tailwind components;
@tailwind utilities;


/* @media screen and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) {  */






html, body {
    background-color: black;
    overflow: hidden;
    height: 100%;
}

.white {
    color: white;
}

.gray {
    color: gray;
}

li.inline {
    display: inline-block;
    padding-left: 40px;
}

div.fixed {
    position: fixed;
    bottom: 5%;
    right: 3%;
    display: inline-block;
}

div.wider {
    width: 90%;
    height: 9%;
    
}


div.vertcent {
    position: absolute;
    right: 1%;
    top: 20%;
    
}

div.rel {
    position: relative;
    height: 100%;
}

div.navsquares {
    display: inline-block;

}

div.navsquarecontainer {
    position: absolute;
    left: 8%;
    top: 25%;
    display: inline-block;
}

li.navsquares {
    display: inline-block;
    padding-left: 10px;
}

div.midblock {
    /* margin-top: -32rem; */
    margin-left: auto;
    margin-right: auto;
    margin-top: -30rem;
    width: 40rem;
    height: 23rem;
    color: white;
    padding: 2%;
    display: flex;
    flex-direction: row;
    gap: 0rem 3rem;
}

div.midflex {
    display: flex;
    flex-direction: column;
    gap: .8rem 2rem;

}

div.profilepic {
    width: 16rem;
    margin-top: auto;
    margin-bottom: auto;
}

/* svg {
    transform: rotate(90deg);
} */

.popuppos {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: -5rem;
    margin-left: 87rem;
    margin-top: 3rem;
    z-index: 5;
}

.popup {
    position: absolute;
    /* right: 60%; */
    right: 0;
    height: 2.8rem;
    width: 50vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    z-index: -1;
    justify-content: space-between;
}

.relativecontainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.appear {
    display: flex;
}

.disappear {
    display: none;
}

.flextoptopcontainer {
    width: 80.3rem;
    margin: .5rem 0rem 0rem 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #625555;
    padding-bottom: .7rem;
    opacity: .4;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.flextoptopcontainer:hover {
    opacity: 1;
}


.flextopcontainer {
    width: 65rem;
    margin: -5rem 0rem 0rem -10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    opacity: .4;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.flextopcontainer:hover {
    opacity: 1;
}

.flextopcontainerhover {
    position: absolute;
    width: 73%;
    left: 5%;
    top: 9.5%;
    z-index: 10;
    background-color: black;
    opacity: .5;
}

.flextopcontainer:hover {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.flexpointscontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: .8rem;
    border-left: 1px solid #172554;
    color: white;
}

.flexbottomcontainer {
    width: 87rem;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    margin: -3.5rem 0rem 0rem 6rem;
}

.flexdashcontainer {
    /* position: absolute; */
    /* top: 30%; */
    /* left: 13%; */
    /* float: left; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    gap: 1rem;
}

.flexmaindashcontainer {
    width: 57rem;
    height: 32rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    gap: 0% 2%;
}

.dashtotalflex {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: center;
    margin-left: 8rem;
    margin-top: -7rem;
    /* padding-bottom: 5rem; */
}

.smalldashpiece {
    width: 30%;
    height: 45%;
    
}

.longdashpiece {
    width: 62%;
    height: 45%;
    background-color: #D5FDB1;
}

.longdashflex {
    /* display: flex;
    flex-direction: column; */
    width: 50%;
}

.sidenav {
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: -17rem;
    margin-right: -3rem;
    width: 2.4rem;
    height: 9.5rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: white;
    align-items: center;
    justify-content: space-between;

}

/* } */
