@tailwind base;
@tailwind components;
@tailwind utilities;


/* @media screen and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) {  */



body {
    background-color: black;
}

.white {
    color: white;
}

.gray {
    color: gray;
}

li.inline {
    display: inline-block;
    padding-left: 40px;
}

div.fixed {
    position: fixed;
    bottom: 5%;
    right: 3%;
    display: inline-block;
}

div.wider {
    width: 90%;
    height: 9%;
    
}


div.vertcent {
    position: absolute;
    right: 1%;
    top: 20%;
    
}

div.rel {
    position: relative;
    height: 100%;
}

div.navsquares {
    display: inline-block;

}

div.navsquarecontainer {
    position: absolute;
    left: 8%;
    top: 25%;
    display: inline-block;
}

li.navsquares {
    display: inline-block;
    padding-left: 10px;
}

div.midblock {
    position: absolute;
    top: 18%;
    left: 50;
    width: 43%;
    height: 53%;
    color: white;
    padding: 2%;
}

div.profilepic {
    position: absolute;
    left: 50%;
    top: 15%;
}

/* svg {
    transform: rotate(90deg);
} */

.popuppos {
    position: absolute;
    right: 3%;
    bottom: 17%;
    z-index: 5;
}

.popup {
    position: absolute;
    bottom: .7vh;
    right: 3%;
    height: 6vh;
    width: 50vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    z-index: -1;
    justify-content: space-between;
}

.relativecontainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.appear {
    display: flex;
}

.disappear {
    display: none;
}

.flextoptopcontainer {
    position: absolute;
    /* width: 85%; */
    width: 80.3rem;
    /* left: 5%; */
    /* top: 1.5%; */
    left: 4rem;
    top: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #625555;
    padding-bottom: .7rem;
    opacity: .4;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.flextoptopcontainer:hover {
    opacity: 1;
}


.flextopcontainer {
    position: absolute;
    width: 73%;
    left: 5%;
    top: 9.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    opacity: .4;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.flextopcontainer:hover {
    opacity: 1;
}

.flextopcontainerhover {
    position: absolute;
    width: 73%;
    left: 5%;
    top: 9.5%;
    z-index: 10;
    background-color: black;
    opacity: .5;
}

.flextopcontainer:hover {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.flexpointscontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: .8rem;
    border-left: 1px solid #172554;
    color: white;
}

.flexbottomcontainer {
    position: absolute;
    width: 90%;
    height: 9%;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 5%;
    right: 3%;
    padding-left: 5%;
}

.flexdashcontainer {
    position: absolute;
    top: 30%;
    left: 13%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    gap: 1rem;
}

.flexmaindashcontainer {
    position: absolute;
    top: 7%;
    left: 30%;
    width: 60vw;
    height: 75vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    gap: 0% 2%;
}

.smalldashpiece {
    width: 30%;
    height: 45%;
    
}

.longdashpiece {
    width: 62%;
    height: 45%;
    background-color: #D5FDB1;
}

.longdashflex {
    /* display: flex;
    flex-direction: column; */
    width: 50%;
}

.sidenav {
    position:absolute;
    display: flex;
    flex-direction: column;
    width: 2.5vw;
    height: 22vh;
    top: 35vh;
    right: 1vw;
    padding-top: .5rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: white;
    align-items: center;
    justify-content: space-between;

}

/* } */
